
/*-- contact section --*/

ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#3b5998;
	padding:7px 14px 6px;
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height: 25px;
	text-align: center;
    vertical-align: middle;	
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#55acee;
	padding: 7px 11px;
	border-radius:50%;
	font-size:17px;
	color:#fff;
	line-height: 25px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#e68523;
	padding: 6px 12px 8px;
	border-radius:50%;
	font-size:19px;
	color:#fff;
	line-height: 25px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	padding: 6px 9px;
	border-radius:50%;
	font-size:16px;
	color:#fff;
	line-height: 25px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
input#name , input#email , textarea#comments {
	color:#fff;
	border-radius: 0px;
	margin-bottom:10px;
	background-color: rgba(255, 255, 255, 0);
	font-size:17px;
	border:1px solid #fff
}
input#name , input#email  {
	height:55px;	
}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}
textarea::-webkit-input-placeholder {
color: #fff !important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
textarea::-ms-input-placeholder {  
color: #fff !important;  
}
textarea#comments {
	height:150px;
}
section.contact-us form button {
	border-radius: 0px;
    padding: 10px 30px;
}
.btn-outline1 {
	font-family: 'Montserrat', sans-serif;
    border: solid 1px #fff;
    font-size: 20px;
    color: #fff;
	font-weight:normal;
    background: 0 0;
    transition: all .3s ease-in-out;
}
.btn-outline1:hover,
.btn-outline1:focus,
.btn-outline1:active {
    border: solid 1px #fff;
    color: #12FFB9;
    background: #fff;
}
/*-- /contact section --*/
